/* Custom styles for syntax highlighting */
.hljs {
    color: #ffffff;
    font-size: 0.9em; /* Light text color */
  }
  
  /* Optional: Customize the color for different types of code elements */
  .hljs-comment,
  .hljs-quote {
    color: #ffffff; /* Gray for comments and quotes */
  }
  
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-tag {
    color: #ffa500; /* Orange for keywords and tags */
  }
  
  .hljs-tag,
    .hljs-tag .hljs-name,
    .hljs-tag .hljs-attr,
    .hljs-tag .hljs-attr-value {
      color: #00bceb; /* Orange for HTML tags and attributes */
    }
  
  .hljs-subst,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-strong,
  .hljs-emphasis,
  .hljs-bullet,
  .hljs-number,
  .hljs-regexp,
  .hljs-link {
    color: #ff0; /* Yellow for variables, numbers, and links */
  }
  
  .hljs-section,
  .hljs-title {
    color: #00f; /* Blue for sections and titles */
  }
  
  .hljs-symbol,
  .hljs-attribute,
  .hljs-keyword,
  .hljs-literal,
  .hljs-selector-attr,
  .hljs-selector-pseudo {
    color: rgb(255, 86, 255); /* Purple for symbols and attributes */
  }
  
  .hljs-built_in,
  .hljs-builtin-name {
    color: #0f0; /* Green for built-in and predefined names */
  }
  
  .hljs-meta,
  .hljs-meta-keyword,
  .hljs-meta-string {
    color: #cfcfcf; /* White for meta information */
  }
  
  .hljs-type,
  .hljs-params,
  .hljs-class .hljs-title {
    color: #f90; /* Gold for types, parameters, and class titles */
  }
  
  .hljs-function {
    color: #ff0; /* Yellow for functions */
  }
  
  .hljs-string,
  .hljs-title,
  .hljs-doctag {
    color: #0f0; /* Green for strings and document tags */
  }
  
  .hljs-selector-id,
  .hljs-selector-class {
    color: #f0f; /* Purple for selector IDs and classes */
  }
  
  .hljs-emphasis {
    font-style: italic; /* Italicize emphasized text */
  }
  
  .hljs-strong {
    font-weight: bold; /* Bolden strong text */
  }
  pre {
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
  }