@font-face {
    font-family: Lexend;
    src: url(./assets/Fonts/Lexend[wght].ttf);
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend !important;
}
html, body {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    color: black;
}