@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Lexend;
    src: url(./assets/Fonts/Lexend[wght].ttf);
  }
* {
    margin: 0;
    padding: 0;
    font-family: Lexend !important;
}
html, body {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}
#root {
    display: flex;
}


@media screen and (max-width: 768px) {
    #root {
        display: flex;
        flex-direction: column;
    }    
}